<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mustafa.twitteranaliz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AnalizSayfalari.Hayranlar" />
        <activity android:name=".AnalizSayfalari.TakipEdilenler" />
        <activity android:name=".AnalizSayfalari.Takipciler" />
        <activity android:name=".AnalizSayfalari.YeniTakipEdilenler" />
        <activity android:name=".AnalizSayfalari.YeniTakibiBirakanlar" />
        <activity android:name=".AnalizSayfalari.KaybedilenTakipciler" />
        <activity android:name=".AnalizSayfalari.TakipEtmeyenler"></activity>
    </application>

</manifest>